html {
  box-sizing: border-box;
}

:root {
  --blue-color: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-left: 50px;
  margin-right: 20px;
  text-decoration: none;
}

.logo {
  display: block;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--blue-color);
}

.is-active {
  color: var(--blue-color);
}

.is-active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue-color);
}